<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title><%= titlu %></title>
</head>
<body>
  <h1><%= titlu %></h1>
  <p><%= text %></p>
  <img src="<%= cale_baza %><%= imagine %>" alt="Eroare">
</body>
</html>